.logs-main-container {
	h2 {
		text-align: center;
	}
	position: relative;
	background-color: #1E3557;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 50px 20px;
	color: #F1F9EE;
}

.logs-form {
	margin-top: 15px;
	margin-bottom: 10px;
	a {
		color: white;
		text-align: left;
	}
}

.loginpage-bottom {
	position: absolute;
	bottom: 50px;
	a {
		color: white;		
		background-color: blue;
		justify-content: center;
	}
}