.login-main-container {
	h2 {
		color: #F1F9EE;
		text-align: center;
	}
	position: relative;
	background-color: #1E3557;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 50px 20px;
	color: #F1F9EE;
}

.login-form {
	margin-top: 15px;
	margin-bottom: 10px;
}

.login-bottom {
	align-items: flex-end;
	display: flex;
	height: 100%;
	justify-content: center;
	a {
		color: #F1F9EE;		
	}
}