.onboarding-caroussel {
  width: 500px;
  margin: 0 auto;
  height: 300px;
}

.onboarding-caroussel img {
  width: 500px;
  height: 300px;
}

h1, h5 {
  color: #457b9d;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
 h1{
   font-size: 48px;
 }

.fas {
  color: #1d3557;
}
td {
  text-align: center;
}
.icons-onboarding{
  justify-content: center;
}