<div class="login-main-container d-flex flex-column justify-content-between">
  <h1> Error!</h1>
  <h3>Please, send a vaild address</h3>
  <%= link_to "Again", new_favourite_path, class:"btn-back-favourites"  %>
</div>