<% if controller_name == 'parking_spots' %>
  <div class="btn-park">Park<br>Easy!</div>
  <div class="btn-go">Go</div>

  <div class="btn-parked">Parked!</div>
  <div class="btn-leaving">Leaving</div>
<% end %>
