<div class="collapse" id="collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <div class="card-test-collapse">
    <div class="btn-close-menu" data-toggle="collapse" data-target="#collapseExample"><i class="fas fa-times"></i></div>
    Dashboard
  </div>
</div>