<div class="banner-1">
  <div class="banner-text">
    <h1>ParkEasy</h1>
    <img src="https://cdn2.iconfinder.com/data/icons/map-locations-filled-pixel-perfect/64/pin-map-location-26-512.png" alt="">
  </div>
</div>

<header class="hero hero--map gps-bg">
  
  <div class="gps-bg__guts">
    <div class="gps-bg__bg"></div>
    <div class="gps-bg__route"></div>
    <div class="gps-bg__marker"></div>
  </div>
  <div class="gps-bg__fade"></div>

  <h1 class="hero__title">
  <img src="https://cdn2.iconfinder.com/data/icons/map-locations-filled-pixel-perfect/64/pin-map-location-26-512.png" alt="">
  <img src="https://cdn2.iconfinder.com/data/icons/map-locations-filled-pixel-perfect/64/pin-map-location-26-512.png" alt="" class="img-3">
  </h1>
  
</header>


  <%= link_to "Get started", user_session_path, id:"btn-started" %>

<div class="banner-2">
  <div class="banner-text">
  <h2>Find the best parking spot now</h2>
  </div>
</div>


