<div class="banner-1">
  <div class="banner-text">
    <h1>ParkEasy</h1>
    <img src="https://www.iconpacks.net/icons/2/free-parking-sign-icon-2526-thumb.png" alt="">
  </div>
</div>

  <%= link_to "Get started", onboarding_path, id:"btn-started" %>

<div class="banner-2">
  <div class="banner-text">
  <h2>Find the best parking spot</h2>
  </div>
</div>


