// Minutes bar

a.mapboxgl-ctrl-logo {
	display: none !important;
}

.mapboxgl-ctrl-bottom-right {
	display: none;
}

.mapbox-directions-instructions {
  display: none;
}

.directions-control.directions-control-inputs {
  display:none;
}

.active-directions-instructions {
  position: absolute !important;
  z-index: 1000 !important;
  bottom: 71px !important;
  left: -9px !important;
  right: -64px !important;
  background-color: #1d3557 !important;
  height: 80px !important;
  display: inherit;
}

.mapbox-directions-route-summary {
	position: absolute !important;
  z-index: 1;
  // width: 377px !important;
  width: 100vw !important;
  background-color: white !important;
  color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  line-height: 28px;
  top: -65px !important;
  left: -11px !important;
  height: 100px !important;
  h1 {
  	color: #467B9D !important;
  	font-size: 22px !important;
    position: absolute;
    top: 30px;
    left: 31px;
    content: " " !important;
  }
  span {
  	position: absolute;
  	color: #1E3557 !important;
  	font-size: 28px;
  	font-weight: bold;
  	top: 28px;
    left: 147px;
  }
}

// Btn Go

.btn-go {
  display: none;
	position: absolute;
  background-color: #467B9D;
  color: white;
  z-index: 2;
  bottom: 11px;
  right: 12px;
  padding: 37px 38px;
  border-radius: 51%;
  font-weight: bold;
  font-size: 24px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  &:hover {
  	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}

.active-go-btn {
  display: inherit;
}

// Btn parked

.btn-parked {
  display: none;
  position: absolute;
  background-color: #A8DADC;
  color: #1D3557;
  z-index: 2;
  bottom: 11px;
  width: 118px;
  height: 118px;
  right: 12px;
  padding: 42px 10px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 24px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
}

.active-parked-btn {
  display: inherit;
}

// Btn Park (to get straight to the closest marker)

.btn-park {
  display: inherit;
  color: #f1faee;
  background-color: #457b9d;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  width: 84%;
  height: 7%;
  position: absolute;
  z-index: 2;
  bottom: 8px;
  right: 8%;
  left: 8%;
  padding: 6px 10px 10px 10px;
  border-radius: 10px;
  &:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}

.active-park-btn {
  display: none;
}

.active-park-btn-add {
  display: block;
}

// .appear-park-btn {
//   display: inherit;
// }

// Btn leaving

.btn-leaving {
  display: none;
  position: absolute;
  background-color: green;
  color: white;
  z-index: 3;
  bottom: 11px;
  right: 12px;
  padding: 40px 18px;
  border-radius: 51%;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}

.active-leaving-btn {
  display: inherit;
}

.nondisplay-route-summary {
  display: none;
}


.active-leaving-btn {
  display: inherit;
}

// Btn clearing Directions

.btn-clear {
  display: inherit;
  position: absolute;
  background-color: #1D3557;
  color: white;
  text-align: center;
  height: 30px;
  width: 30px;
  text-align: center;
  z-index: 2;
  top: 112px;
  right: 9px;
  padding: 4px 4px;
  border-radius: 18%;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}

.active-clear-btn {
  display: inherit;
}

