.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

// Search bar

.mapboxgl-ctrl-geocoder {
  width: 85vw !important;
  background-color: white !important;
  height: 56px !important;
  border-radius: 28px !important;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
  input {
    font-size: 20px !important;
    position: absolute;
    top: 7px;
    left: 16px;
    color: #1E3557 !important;
    width: 87% !important;
  }
}

// Suggestions

.suggestions {
  left: 17px !important;
  width: 80% !important;
}

.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
  fill: white;
  background-color: #467B9D;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  padding: 9px;
  position: absolute;
  top: 5px;
  left: 65vw !important;
  z-index: 1;
}

@media (min-width: 370px) and (max-width:410px) {
  .mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
    left: 63vw !important;
  }
}

.mapboxgl-ctrl mapboxgl-ctrl-group {

}

.hide-markers-map{
  display: none;
}


// x of search bar

.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-close {
  display: none;
}

// marker

.marker.active {
  fill: red;
}