.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


// Search bar

.mapboxgl-ctrl-geocoder {
  width: 324px !important;
  background-color: white !important;
  height: 45px !important;
  input {
  	font-size: 17px !important;
  	height: 45px !important;
  }
}

.mapboxgl-ctrl-geocoder--icon-search {
	// right: 12px !important;
	left: 260px !important;
}

