.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


// Search bar

.mapboxgl-ctrl-geocoder {
  width: 324px !important;
  background-color: white !important;
  height: 56px !important;
  border-radius: 28px !important;
  input {
    font-size: 20px !important;
    position: absolute;
    top: 7px;
    left: 16px;
    color: #1E3557 !important;
  }
}

.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
  fill: white;
  background-color: #467B9D;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  padding: 9px;
  position: absolute;
  top: 5px;
  left: 243px;
  z-index: 1;
}


.mapboxgl-ctrl mapboxgl-ctrl-group {

}